@charset "utf-8";
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

em,
i,
b {
    font-style: normal
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
form {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 0.4rem;
    color: #536d82;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

ul,
ol,
li,
dl,
dd {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
}

a:link,
a:visited,
a:hover {
    text-decoration: none;
}

input,
textarea,
select,
option {
    font-size: 12px;
    outline: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

button,
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}


@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
	.border-1px
		&:after
			-webkit-transform: scaleY(0.7)
			transform: scaleY(0.7)

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
	.border-1px
		&:after
			-webkit-transform: scaleY(0.7)
			transform: scaleY(0.7)